pipeline/Copy data.json
{
	"name": "Copy data",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ADL_Binary",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADL_destination",
						"type": "DatasetReference",
						"parameters": {
							"Directoryname": {
								"value": "@pipeline().parameters.Directoryname",
								"type": "Expression"
							},
							"Filename": {
								"value": "@variables('CurrentTime')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentTime",
					"value": {
						"value": "@concat( pipeline().parameters.Filename,'_',convertFromUtc(utcnow(),'W.Europe Standard Time','.xml'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Incoterm",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"DirectoryName": {
									"value": "@pipeline().parameters.Directoryname",
									"type": "Expression"
								},
								"Filename": {
									"value": "@pipeline().parameters.Filename",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"Directoryname": {
				"type": "string"
			},
			"Filename": {
				"type": "string"
			}
		},
		"variables": {
			"CurrentTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}