pipeline/Generic_pipeline_copy data.json
{
	"name": "Generic_pipeline_copy data",
	"properties": {
		"activities": [
			{
				"name": "Copy data from http to staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Generic_DS_ADL_Binary",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "Incoterm_MDX.xml"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Generic_DS_ADL_destination",
						"type": "DatasetReference",
						"parameters": {
							"Directoryname": "Incoterm_MDX",
							"Filename": {
								"value": "@variables('CurrentTime')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentTime",
					"value": {
						"value": "@concat(pipeline().parameters.tablename,'_',convertFromUtc(utcnow(),'W.Europe standard Time'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"tablename": {
				"type": "string",
				"defaultValue": "Incoterm_MDX"
			}
		},
		"variables": {
			"CurrentTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}