pipeline/MetaData_Pipeline.json
{
	"name": "MetaData_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Set Filename",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Filename",
					"value": {
						"value": "@concat(pipeline().parameters.tablename,'_',convertFromUtc(utcnow(),'W. Europe standard Time'),'.xml')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data from http to staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Generic_DS_ADL_Binary",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@concat(pipeline().parameters.tablename,'.xml')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Generic_DS_ADL_destination",
						"type": "DatasetReference",
						"parameters": {
							"Directoryname": {
								"value": "@pipeline().parameters.tablename",
								"type": "Expression"
							},
							"Filename": {
								"value": "@variables('FileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data from http to staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Metadata",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"Directoryname": {
									"value": "@pipeline().parameters.tablename",
									"type": "Expression"
								},
								"Filename": {
									"value": "@variables('Filename')",
									"type": "Expression"
								}
							},
							"Metadata": {
								"Directoryname": {
									"value": "@concat(pipeline().parameters.tablename,'/Processed')",
									"type": "Expression"
								}
							},
							"KeyCols": {
								"Directoryname": {
									"value": "@concat(pipeline().parameters.tablename,'/Key_Cols')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"tablename": {
				"type": "string",
				"defaultValue": "Metadata"
			}
		},
		"variables": {
			"Filename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}